body {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #e8f4f5;
    /* 设定背景色 */
    height: 100%;
    /* 让 body 元素的高度填充整个窗口 */
}

a {
    --color: #58b5a1;
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    color: #201c1c;
}


.container {
    display: flex;
    height: 100%;

}

.container .item {
    margin-right: 15px;
}

.container .item:last-child {
    margin-right: 0;
    /* 第一个元素不需要右边距 */
}

.index_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.index_container .item {
    flex-basis: 100%;
    /* 每个项目占据一整行 */
}

.intro {
    background-color: #bbb7b7;
    flex: 2;
    padding: 20px;

}

.content {
    background-color: #e6ffe6;
    flex: 5;
    padding: 20px;
}

.avatar {
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    filter: brightness(110%) drop-shadow(0 0 5px #fff);
    width: 150px;
    height: 150px;
    background-image: url("../asserts/pic/avater.jpg");
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    z-index: 99;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro p {
    font-size: 24px;
    color: #805252;
    margin-bottom: 8px;
}

blockquote {
    background-color: #f9f9f9;
    /* 设置背景颜色 */
    border-left: 10px solid #ccc;
    /* 左侧边框 */
    margin: 1.5em 10px;
    /* 上下外边距和左右内边距 */
    padding: 0.5em 10px;
    /* 上下内边距和左右内边距 */
}

blockquote p {
    font-style: italic;
    /* 引用文字斜体 */
    font-size: 1.2em;
    /* 引用文字大小 */
    line-height: 1.5;
    /* 引用文字行高 */
}

.element {
    background: rgba(255, 255, 255, 0.5);
    /* 半透明背景 */
    border: 1px solid #ccc;
    /* 浅灰色边框 */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    /* 微弱光晕效果，提升立体感 */
    /* filter: blur(4px); */
    /* 模糊效果，实现毛玻璃效果 */
    transition: transform 0.2s ease-in-out;
    /* 动画效果，实现律动感效果 */
    z-index: 1;
}

.element:hover {
    transform: scale(1.05);
    /* 放大元素，实现律动感效果 */
    filter: blur(4px);
}