body {
    transform: translateZ(0)
}


.border {
    background: linear-gradient(145deg, #d1b8b8, #4d4d4d);
    border-radius: 10px;
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.box {
    animation: pulse-ring 2s ease-in-out;
}

@keyframes pulse-ring {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}



li {
    margin-top: 15px;
}


.btn {
    --color: #00A97F;
    --color2: #212121;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 10px;
    border: 1.5px solid var(--color);
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--color);
}

.btn::before {
    content: '';
    display: block;
    height: 110%;
    width: 310%;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: -1;
    transition: .7s;
    background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.btn:hover::before {
    left: -200%;
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    transform: scale(.8);
    filter: brightness(.8);
}